doctype html
html
  head
    meta(charset='utf-8')
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/assets/css/main.css' rel='stylesheet')
    style.
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }
      p {
        margin: 0;
      }
      .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
        background-color: #f0f0f0;
        input {
          width: 100%;
          max-width: 600px;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
        }
      }
      .icon__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 98%;
        max-width: 1024px;
        margin: 0 auto;
        gap: 1.25rem;
      }
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border: 1px solid #ccc;
        padding: 1.5rem;
        border-radius: 5px;
        position: relative;
        width: 98%;
        transition: background-color 0.3s ease-in-out;
        gap: 0.5rem;
        &:hover {
          background-color: rgba(85, 142, 225, 0.32);
        }
      }
      .icon img {
        height: auto;
        width: clamp(0.75rem, 45%, 2rem);
      }
      .icon__controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 0.5rem;
        flex-direction: column;
        gap: 0.5rem;
        /*padding: 1rem 1.5rem;*/
      }
      .icon__size {
        text-align: center;
      }
      @media screen and (min-width: 480px) {
        .icon {
          width: 46%;
        }
        .icon__controls {
          flex-direction: row;
        }
        .icon__color {
          width: 75%;
        }
        .icon__size {
          width: 25%;
        }
      }
      @media screen and (min-width: 1024px) {
        .icon {
          width: 23%;
        }
      }
    script(src='/assets/scripts/post-hog.js')
    script.
      // Initialize PostHog
      posthog.init("#{posthogPublicKey}", {
        api_host: 'https://us.i.posthog.com',
        persistence: 'memory'
      });

      // Optionally enable session recording
      posthog.startSessionRecording();

      // Track $pageview event
      posthog.capture('$pageview', {
        $current_url: window.location.href,
        $referrer: document.referrer,
      });

      // Track $pageleave events
      window.addEventListener('beforeunload', () => {
        posthog.capture('$pageleave', {
          $current_url: window.location.href,
        });
      });

      document.addEventListener('visibilitychange', () => {
        if (document.visibilityState === 'hidden') {
          posthog.capture('$pageleave', {
            $current_url: window.location.href,
          });
        }
      });
  body
    div.search-bar
      input(type='text' placeholder='Search icons...' id='search-input')
      //div(type='button' id='search-button') Search
      //  each icon in icons
      //    if icon.name.toLowerCase() === 'search'
      //      img(src=`${icon.svg}` alt='Search Icon' class='search-icon')
    div.icon__wrapper
      each icon in icons
        div.icon(data-url=`${icon.url}` data-name=`${icon.name}`)
          img(src=`${icon.svg}`)
          p #{icon.name}
          div.icon__controls
            input(type='color' value=`${icon.color}`).icon__color
            input(type='number' value=`${icon.size}`).icon__size
    script(src='/assets/scripts/icons.js')
